<p>
    <span class='text-frame-type-{{ item.frameType }}'>{{ item.name }}
    <br>
    {{ item.type }}
    </span>
</p>

{% if masterType == 'weapon' %}
<p>
{{ item.type.parent }}
{% if item.averagePhysicalDamage %}
<br>
Physical Damage: <span class='{% if item.increasedPhysicalDamage %}text-frame-type-1{% else %}text-white{% endif %}'>{{ item.averagePhysicalDamage|number_format }}</span>
{% endif %}
{% if item.averageFireDamage or item.averageColdDamage or item.averageLightningDamage %}
<br>
Elemental Damage: {% if item.averageFireDamage %}<span class='text-error'>{{ item.averageFireDamage|number_format }}</span>{% endif %}{% if item.averageColdDamage %}{% if item.averageFireDamage %}, {% endif %}<span class='text-info'>{{ item.averageColdDamage|number_format }}</span>{% endif %}{% if item.averageLightningDamage %}{% if item.averageFireDamage or item.averageColdDamage %}, {% endif %}<span class='text-warning'>{{ item.averageLightningDamage|number_format }}</span>{% endif %}
{% endif %}
{% if item.criticalStrikeChance %}
<br>
Critical Strike Chance: <span class='{% if item.increasedPhysicalDamage %}text-frame-type-1{% else %}text-white{% endif %}'>{{ item.criticalStrikeChance }}%</span>
{% endif %}
{% if item.attacksPerSecond %}
<br>
Attacks per Second: <span class='{% if item.increasedAttackSpeed %}text-frame-type-1{% else %}text-white{% endif %}'>{{ item.attacksPerSecond }}</span>
{% endif %}
</p>
{% endif %}

<p>
    {% if item.quality %}
        Quality: <span class='text-frame-type-1'>+{{ item.quality }}%</span>
        <br>
    {% endif %}
    {% if item.armour %}
        Armour: <span class='text-frame-type-1'>{{ item.armour }}</span>
        <br>
    {% endif %}
    {% if item.evasionRating %}
        Evasion Rating: <span class='text-frame-type-1'>{{ item.evasionRating }}</span>
        <br>
    {% endif %}
    {% if item.energyShield %}
        Energy Shield: <span class='text-frame-type-1'>{{ item.energyShield }}</span>
    {% endif %}
</p>

<hr>

<p>
    Requires Level <span class='text-white'>{{ item.lvlReq }}</span>{% if item.strReq %}, <span class='text-white'>{{ item.strReq }}</span> Str{% endif %}{% if item.dexReq %}, <span class='text-white'>{{ item.dexReq }}</span> Dex{% endif %}{% if item.intReq %}, <span class='text-white'>{{ item.intReq }}</span> Int{% endif %}
</p>

<hr>

